header h1 {
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

main {
  margin: 0 0 40px 0;
  position: relative;

  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.new-todo {
  position: relative;
}

.new-todo-input {
  padding: 15px;
  margin-left: 45px;

  width: calc(100% - 45px);
  font-size: 24px;
  line-height: 1.4em;
  border: none;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.003);
}

.todo-count {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: left;
  border-top: 1px solid #e6e6e6;
}

.todo-count:before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
  0 8px 0 -3px #f6f6f6,
  0 9px 1px -3px rgba(0, 0, 0, 0.2),
  0 16px 0 -6px #f6f6f6,
  0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.checked-item {
  text-decoration: line-through;
  color: #e6e6e6;
}
