<header>
  <h1>todos</h1>
</header>

<main>
  <section class="new-todo">
    <input name="new-todo" class="new-todo-input" autofocus (keyup.enter)="addItem()" [(ngModel)]="input" placeholder="What needs to be done?" />
  </section>

  <section class="todo-list">
    <ul>
      <li *ngFor="let item of todos">
        <input type="checkbox" class="toggle-button" (change)="updateItem(item)" [(ngModel)]="item.checked" />
        <label [class.checked-item]="item.checked" (dblclick)="item.edit = !item.edit" *ngIf="!item.edit">{{item.value}}</label>
        <input type="text" [(ngModel)]="item.value" *ngIf="item.edit" (blur)="updateItem(item)" (keyup.enter)="updateItem(item)" >
        <button class="remove-item-button" (click)="deleteItem(item.id)"></button>
      </li>
    </ul>
  </section>

  <section class="todo-count">
    <span>{{countItemLeft()}} items left</span>
  </section>
</main>
