<header>
  <h1>todos</h1>
</header>

<main>
  <section class="new-todo">
    <input name="new-todo" class="new-todo-input" autofocus (keyup.enter)="addItem()" [(ngModel)]="input" placeholder="What needs to be done?" />
  </section>

  <section class="todo-list">
    <ul>
      <app-todo-list-item *ngFor="let item of todos"
                          [item]="item"
                          (onDeleteItem)="onChildDeleted(item)">
      </app-todo-list-item>
    </ul>
  </section>

  <section class="todo-count">
    <span>{{countItemLeft()}} items left</span>
  </section>
</main>
