<li>
  <input type="checkbox"
         class="toggle-button"
         (change)="updateItem()"
         [(ngModel)]="item.checked" />
  <label [class.checked-item]="item.checked"
         (dblclick)="toggleEditMode()"
         *ngIf="!editMode">
    {{item.value}}
  </label>
  <input type="text"
         [(ngModel)]="item.value"
         *ngIf="editMode"
         (blur)="updateItem()"
         (keyup.enter)="updateItem()"
         (keyup.esc)="updateItem()"
         id="value-field">
  <button class="remove-item-button"
          (click)="deleteItem()">
  </button>
</li>
